{% extends 'base.html' %}

{% block 'main' %}


<div class="container">
    <div class="row">
        
        <div class="col-md-3 mt-5 ">
            <h3 class="heading bg-primary text-center p-2 text-light rounded">Filters</h3>
            <h4 class="mt-3">By Status</h4>

            <ul class="list-group ">
                <li class="list-group-item"><a class="text-decoration-none" href="/alltask/1">Complete</a></li>
                <li class="list-group-item"><a class="text-decoration-none" href="/pending/0">Pending</a></li>
               
              </ul>

        </div>
        
        <div class="col-md-8">
            <div class="col-md-9 mt-5 ms-5">
                <h3 class="heading bg-primary text-center p-2 text-light rounded">View Task </h3>
                <table class="table table-hover">

                    <tr>
                        <th>Task Name</th>
                        <th>Description</th>
                        <th>Start date</th>
                        <th>Enddate</th>
                        <th>Status</th>
                        <th>Edit Task</th>
                        <th>Delete Task</th>


                    </tr>
                    {% for x in tasks %}
                    <tr>
                        <td><a class="text-decoration-none text-dark" href="#">{{x.task_title}}</a></td>


                        <td>{{x.desc}}</td>
                        <td>{{x.sdate}}</td>
                        <td>{{x.edate}}</td>
                        {% if x.status == 1 %}
                        <td class="text-success fw-bold">Completed</td>
                        {% else %}
                        <td class="text-danger fw-bold">Pending</td>
                        {% endif %}
                        <td><a href="/edittask/{{x.id}}"><button class="btn btn-warning">Edit</button></a></td>
                        <td><a href="/deletetask/{{x.id}}"><button class="btn btn-danger">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
</div>



{% endblock 'main' %}